main{
    background-color: #fafafa;
    height: 100vh;
}


.new-quizz-header{
    background-color: #FAFAFA;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-quizz-title{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.new-quizz-form{
    background-color: #fafafa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


.new-quizz-input-field{
    height: 46px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    padding-left: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.new-quizz-input-field::placeholder{
    color: #BABABA;
    font-style: italic;
}

.new-quizz-go-to-create-questions{
    height: 54px;
    width: calc(100% - 36px);
    background-color: #ec362d;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    margin: 30px 18px;
}

.quizz-creation-question-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.quizz-creation-question-pair-input{
    margin: 16px 0;
}

.quizz-creation-question-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.new-quizz-input {
    background-color: #ffffff;
    padding: 0 18px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.create-new-question-button{
    background-color: #ffffff;
    border: none;
    width: 23px;
    height: 26px;
    padding: 0;
}

.create-new-question-img {
    width: 23px;
    height: 26px;
}

.hide{
    display: none;
}

.show {
    display: block;
}

.background-white{
    background-color: #ffffff;
}