.quizz-banner {
  position: relative;
  width: 100%;
  height: 142;
}
.quizz-banner img {
  width: 100%;
  height: 142px;
}
.quizz-banner-cover {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.quizz-banner-cover h1 {
  color: #fff;
  font-size: 19px;
}
