.quizz-banner {
  position: relative;
  width: 100%;
  height: 142;
  margin-top: -1px;
}
.quizz-banner img {
  width: 100%;
  height: 142px;
  object-fit: cover;
}
.quizz-banner-cover {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.quizz-banner-cover h1 {
  color: #fff;
  font-size: 19px;
}
.questions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-container,
.result-container {
  background-color: #fff;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  position: relative;
}
.result-container {
  margin: auto;
  margin-top: 42px;
}
.question-title,.result-title {
  width: 100%;
  height: 89px;
  background-color: #45a;
  font-size: 19px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
}
.result-title{
  margin-bottom: 9px;
}
.answer-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0);
}
.blank-hide-option {
  width: 100%;
  height: calc(100% - 89px);
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.answer-option {
  margin-top: 12px;
  max-width: 50%;
}
.answer-option img {
  width: 163px;
  height: 113px;
  z-index: 10;
}
.answer-option h3 {
  max-width: 163px;
  margin-top: 5px;
 word-wrap: break-word;
}
.answer-option.selected {
  z-index: 1;
}
.answer-options.selected .blank-hide-option {
  z-index: 0;
}
.result-container p {
  font-size: 17px;
  line-height:20px;
}
.result-container img {
  width: 340px;
height: 255px;
left: 19px;
top: 315px;
margin-bottom: 9px;

}
.restart{
  width: 221px;
  height: 44px;
    background-color: #ec362d;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    display: block;
    margin: 48px auto 8px auto; 
}
.go-to-home{
  height: 54px;
    width: 220px;
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #818181;
    border: none;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
.red {
  color: red;
}
.green {
  color: green;
}
